@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --c-gray-900: #000;
  --c-gray-800: #1f1f1f;
  --c-gray-700: #2e2e2e;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #fff;
  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;
  --c-white: var(--c-gray-100);
  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}

body {
  max-width: 100%;
  font-family: "Be Vietnam Pro",sans-serif;
  line-height: 1.5;
  color: var(--c-text-primary);
  background-color: var(--c-gray-900);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

select,
input,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

.responsive-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 2vw 4vw 6vw;
  max-width: 1600px;
  min-height: 80vh;
  background-color: var(--c-gray-800);
}

.app-header {
  display: grid;
  grid-template-columns: minmax(min-content,175px) minmax(max-content,1fr) minmax(max-content,400px);
  align-items: flex-end;
  column-gap: 4rem;
}

.app-header-actions {
  display: flex;
  align-items: center;
}

.app-header-actions-buttons {
  & > * + * {
    display: flex;
    margin-left: 2rem;
    margin-left: 1rem;
    padding-left: 2rem;
    border-left: 1px solid var(--c-gray-600);
  }
}

.app-header-mobile {
  display: none;
}

.app-body {
  display: grid;
  grid-template-columns: minmax(min-content,175px) minmax(max-content,1fr) minmax(min-content,400px);
  column-gap: 4rem;
  height: 100%;
  padding-top: 2.5rem;
}

.kriss {
  width: 100%;
  height: 100%;
  background-image: url(../1619791365722.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-body-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-body-sidebar {
}

.footer {
  h1 {
    small {
      display: flex;
      align-items: flex-start;
      margin-top: auto;
      margin-left: 0.25em;
      font-size: 1.5rem;
      font-size: 0.5em;
      line-height: 1.125;
    }
  }

  div {
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--c-gray-600);
    font-size: 0.75rem;
    color: var(--c-text-tertiary);
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--c-gray-600);
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.logo-title {
  span:first-child {
    display: flex;
    flex-direction: column;
    margin-left: 0.75rem;
    line-height: 1.25;
    color: var(--c-text-primary);
  }

  span:last-child {
    color: var(--c-text-tertiary);
  }
}

.navigation {
  a {
    * {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-items: center;
      text-decoration: none;
      color: var(--c-text-tertiary);
      transition: 0.25s ease;
    }

    i {
      flex-shrink: 0;
      margin-right: 0.75rem;
      font-size: 1.25em;
    }

    & + a {
      margin-top: 1.25rem;
    }

    &:hover,
    &:focus {
      color: var(--c-text-primary);
      transform: translateX(4px);
    }
  }
}

.tabs {
  a {
    &.active,
    &:hover,
    &:focus {
      display: flex;
      display: inline-flex;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-color: var(--c-text-primary);
      border-top: 2px solid transparent;
      border-bottom: 1px solid var(--c-gray-600);
      text-decoration: none;
      color: var(--c-text-tertiary);
      color: var(--c-text-primary);
      transition: 0.25s ease;
    }
  }
}

.user-profile {
  &:hover,
  &:focus {
    span:last-child {
      display: flex;
      align-items: center;
      border: 0;
      color: var(--c-text-tertiary);
      color: var(--c-text-primary);
      background: transparent;
      box-shadow: 0 0 0 4px var(--c-gray-800) ,0 0 0 5px var(--c-text-tertiary);
      transition: 0.25s ease;
      cursor: pointer;
    }
  }

  span:first-child {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--c-gray-600);
    font-size: 1.125rem;
    font-weight: 300;
  }

  span:last-child {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-left: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.25s ease;
  }
}

.icon-button {
  &.large {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 32px;
    width: 42px;
    height: 32px;
    height: 42px;
    border: 0;
    border: 1px solid var(--c-gray-500);
    border-radius: 50%;
    font-size: 1.25em;
    color: var(--c-text-primary);
    background-color: transparent;
    transition: 0.25s ease;
    cursor: pointer;
  }

  i {
    transition: 0.25s ease;
  }

  &:hover,
  &:focus {
    background-color: var(--c-gray-600);
    box-shadow: 0 0 0 4px var(--c-gray-800) ,0 0 0 5px var(--c-text-tertiary);
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem 1rem;
  margin-top: 1.25rem;
}

.tile {
  &:hover {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    min-height: 200px;
    border-radius: 8px;
    color: var(--c-gray-900);
    background-color: var(--c-olive-500);
    transition: 0.25s ease;
    transform: translateY(-5px);
  }

  &:focus-within {
    box-shadow: 0 0 0 2px var(--c-gray-800) ,0 0 0 4px var(--c-olive-500);
  }

  &:nth-child(2) {
    &:focus-within {
      background-color: var(--c-green-500);
      box-shadow: 0 0 0 2px var(--c-gray-800) ,0 0 0 4px var(--c-green-500);
    }
  }

  &:nth-child(3) {
    &:focus-within {
      background-color: var(--c-gray-300);
      box-shadow: 0 0 0 2px var(--c-gray-800) ,0 0 0 4px var(--c-gray-300);
    }
  }

  a {
    .icon-button {
      &:hover,
      &:focus {
        i {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-color: inherit;
          text-decoration: none;
          font-weight: 600;
          color: inherit;
          background-color: transparent;
          transform: none;
        }
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.tile-header {
  i {
    display: flex;
    align-items: center;
    font-size: 2.5em;
  }

  h3 {
    span:first-child {
      display: flex;
      flex-direction: column;
      margin-left: 0.5rem;
      font-weight: 600;
      line-height: 1.375;
    }

    span:last-child {
      font-size: 0.825em;
      font-weight: 200;
    }
  }
}

.service-section {
  & > h2 {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
  }
}

.service-section-header {
  & > * + * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.25rem;
  }
}

.service-section-footer {
  margin-top: 1rem;
  color: var(--c-text-tertiary);
}

.search-field {
  input {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    border: 0;
    border-bottom: 1px solid var(--c-gray-600);
    background-color: transparent;
  }

  i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.dropdown-field {
  select {
    display: flex;
    position: relative;
    appearance: none;
    flex-grow: 1;
    width: 100%;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    border: 0;
    border-bottom: 1px solid var(--c-gray-600);
    color: var(--c-text-tertiary);
    background-color: transparent;
  }

  i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.flat-button {
  &:hover,
  &:focus {
    padding: 0.5em 1.5em;
    border: 0;
    border-radius: 6px;
    color: var(--c-text-secondary);
    background-color: var(--c-gray-700);
    background-color: var(--c-gray-600);
    transition: 0.25s ease;
    cursor: pointer;
  }
}

.mobile-only {
  display: none;
}

.transfer-section {
  margin-top: 2.5rem;
}

.transfer-section-header {
  h2 {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--c-gray-600);
    font-size: 1.5rem;
  }
}

.payments {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.payment {
  & + * {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}

.card {
  &.green {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    width: 125px;
    padding: 0.375rem;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--c-gray-800);
    background-color: var(--c-green-500);
    aspect-ratio: 3 / 2;
  }

  &.olive {
    background-color: var(--c-olive-500);
  }

  &.gray {
    background-color: var(--c-gray-300);
  }

  span:last-child {
    align-self: flex-end;
  }
}

.payment-details {
  h3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1.5rem;
    font-size: 1rem;
    color: var(--c-text-tertiary);
  }

  div {
    span {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.75rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      border-top: 1px solid var(--c-gray-600);
      border-bottom: 1px solid var(--c-gray-600);
      font-size: 1.5rem;
    }
  }
}

.filter-options {
  p {
    & + * {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      margin-right: 0.75rem;
      margin-left: 1.25rem;
      margin-left: auto;
      padding-left: 1.25rem;
      border-left: 1px solid var(--c-gray-600);
    }

    font-size: 0.875rem;
    color: var(--c-text-tertiary);
  }
}

.transfers {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.transfer {
  & + * {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    font-size: 0.875rem;
  }
}

.transfer-logo {
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    width: 45%;
    height: 42px;
    border-radius: 4px;
    background-color: var(--c-gray-200);
  }
}

.transfer-details {
  div {
    & + div {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      width: calc(100% / 3 - 1rem);
      margin-left: 2rem;
      margin-left: 1rem;
    }
  }

  dd {
    margin-top: 2px;
    color: var(--c-text-tertiary);
  }
}

.transfer-number {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  width: 15%;
  margin-left: 2rem;
  font-size: 1.125rem;
}

.payment-section {
  & > h2 {
    font-size: 1.5rem;
  }
}

.payment-section-header {
  p {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: var(--c-text-tertiary);
  }

  div {
    & > * + * {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-left: 0.5rem;
      padding-left: 1rem;
    }
  }
}

.card-button {
  &.mastercard svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 34px;
    max-height: 15px;
    border: 2px solid var(--c-gray-600);
    border-radius: 4px;
    overflow: hidden;
    color: var(--c-text-primary);
    background-color: transparent;
    transition: 0.25s ease;
    cursor: pointer;
  }

  &:focus,
  &:hover,
  &.active {
    border-color: var(--c-white);
    color: var(--c-gray-800);
    background-color: var(--c-white);
  }
}

.faq {
  p {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: var(--c-text-tertiary);
  }

  div {
    label {
      display: flex;
      align-items: center;
      margin-top: 0.75rem;
      margin-right: 1rem;
      padding-top: 0.75rem;
      padding-right: 1rem;
      padding-bottom: 0.75rem;
      border-top: 1px solid var(--c-gray-600);
      border-right: 1px solid var(--c-gray-600);
      border-bottom: 1px solid var(--c-gray-600);
      font-size: 0.875rem;
    }

    input {
      width: 100%;
      padding: 0.25em 0;
      border: 0;
      background-color: transparent;
    }
  }
}

.payment-section-footer {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.save-button {
  &:focus,
  &:hover {
    padding: 0.75em 2.5em;
    border: 1px solid currentColor;
    border-radius: 6px;
    color: var(--c-text-tertiary);
    color: var(--c-white);
    background-color: transparent;
    transition: 0.25s ease;
    cursor: pointer;
  }
}

.settings-button {
  i {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 1.5rem;
    padding: 0;
    border: 0;
    color: var(--c-text-tertiary);
    background-color: transparent;
    transition: 0.25s ease;
    cursor: pointer;
  }

  &:focus,
  &:hover {
    color: var(--c-white);
  }
}

button {
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #744c9b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease,transform 0.2s ease;
  cursor: pointer;
}

button:hover {
  background-color: #744c9b;
  transform: translateY(-2px);
}

button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

/* Style général pour la carte */

.card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease,box-shadow 0.3s ease;
}

/* Effet de survol pour la carte */

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

/* Style de l'image */

.card-img {
  display: block;
  width: 100%;
  height: auto;
}

/* Contenu de la carte */

.card-content {
  padding: 20px;
}

/* Titre de la carte */

.card-title {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

/* Description de la carte */

.card-description {
  margin-bottom: 20px;
  font-size: 2em;
  color: #666;
}

/* Bouton de la carte */

.card-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Effet de survol pour le bouton */

.card-btn:hover {
  background-color: #0056b3;
}
.description{
  color: black;
  height: 30px;
  text-align: center;
  margin: auto;
}