@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import "https://unpkg.com/water.css@2/out/water.min.css";

:root {
    --links: #be92e2;
}


.containerTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background: #0c0d0c;
    border-radius: 10px;
    text-decoration: none;
    opacity: 0.7;
    font-size: 1em;

}
.but1{ background-color: #3a3f3a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;}
.but1:hover{
    background-color: #cca058;
}
a {
    padding: 0.2em;
    font-weight: normal;
    font-size: 1.5em;
    height: 50px;
    color: #dbdeec;
}


button{

    color: #e51919;
    border-color: #3a3f42;
}

button:before, button:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    filter: blur(30px);
    opacity: 0.4;
    transition: 0.6s;
}
p, h1, span, label{
    font-size: 2em;
    padding: 0;
    margin: 0;
    color: #140325;
    font-weight: normal;
}
a{
    font-size: 1em;
}
#idLabel{
 display: none;
}
.btn{
    color: white;
    background-color: #634b3f;
}
.btn:hover{

    background-color: #777f5b;
}

nav.menu {
    display: flex;
    align-items: center;
    justify-items: center;
}

.menu > ul > li {
    list-style: none;
    color: #fff;
    line-height: 45px;

}
.menu > ul li a, .xs-.menu li a {
    text-decoration: none;
    color: #fff;
    padding: 0px 24px;
}
.menu > ul li a:hover {
    background:#444;
    color: #fff;
}
.active{
    background:#444 !important;

}
.displaynone{
    display: none;
}
.mega-.menu {
    background: none repeat scroll 0 0 #888;
    left: 0;
    margin-top: 3px;
    position: absolute;
    width: 100%;
    padding:15px;
    display:none;
    transition-duration: 0.9s;

}
.menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}
form {
    position: relative;
    background: #786d6d;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form input, form div input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5b5353;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
form button, form div button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #759ed8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
form button:hover,form button:active,form button:focus {
    background: #4aa6be;
}
form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
form .message a {
    color: #53828e;
    text-decoration: none;
}


.cache{
    display: none;
}

.wrapper {
    border: 3px solid blue;
}

.barCompleted {
    background-color: #66acc2;
    width: 80%;
}

.label {
    font-size: 20px;
    color: green;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.containerCote{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
button{
    font-size: 15px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    flex-direction: column;


}
.card{
    border: solid black;
    margin: 10px;
    padding: 10px;
    width: 250px;
}


.container3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 1 / 3; }
.div2 { grid-area: 1 / 3 / 6 / 6; }
*{
    font-size: 1em;
}
h2{
    color: white;
}
 td, th, tr{
     color: white;
     background-color: black;
     font-size: 0.9em;
 }
 .card{
     padding: 15px;
     background-color: #7c7373;
     width: 100%;
 }
 button:hover{
     background-color: #ece5c1;
 }
